.video {
  position: relative;
  width: 100%;
  max-width: 100%;
  /* fallback for aspect ratio: 16:9 */
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  max-height: 90vh;
}

.video.dynamicAspect {
  padding-top: 0 !important;
  height: 100% !important;
  aspect-ratio: var(--aspect-ratio, 16/9);
}

.video > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-height: 90vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
