.imageWrapper {
  line-height: 0;

  img {
    width: 100%;
    height: auto;
  }

  /* When using fill mode, ensure proper positioning */
  &:has(img[data-nimg="fill"]) {
    position: relative;
    width: 100%;
    min-height: 200px; /* Fallback height */

    img {
      object-fit: contain;
    }
  }

  &.threeFour {
    position: relative;
    padding-bottom: 133%;

    .imageInner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &.sixteenNine {
    position: relative;
    padding-bottom: 56.25%;

    .imageInner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.fillMode {
    position: relative;
    width: 100%;

    .imageInner {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  /* New: Height constraint mode */
  &.constrainHeight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .imageInner {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }

    img {
      max-height: 97vh !important;
      /* width: auto !important; */
      width: 100% !important;
      height: auto !important;
      max-width: 100%;
      object-fit: contain !important;
      display: block;
      margin: 0 auto;
    }
  }
}

.imageInner {
  /* Ensure imageInner can contain fill images */
  position: relative;
  width: 100%;
  height: 100%;

  /* When no specific aspect ratio is set, use intrinsic sizing */
  &:not(.threeFour):not(.sixteenNine) {
    aspect-ratio: auto;
  }
}

.gifWrapper {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.gif-hidden {
  width: 100%;
  padding-bottom: 66.6667%;
}
