:root {
  /* --color-primary: #ffe200; */
  --color-darkwall: rgba(32, 32, 32, 1);
  --color-paper: rgba(252, 252, 251, 1);
  --color-bg: var(--color-paper);
  --color-bg-alpha: rgba(255, 255, 255, 0);
  --color-backdrop: var(--color-bg-alpha);
  /* --color-backdrop: rgba(0, 0, 0, 0.7); */
  --color-yellow: rgba(250, 227, 20, 1);
  --color-blue: rgba(0, 59, 221, 1);
  --color-sand2: rgba(141, 135, 117, 1);
  --color-sand: rgba(168, 153, 109, 1);
  --color-primary: var(--color-yellow);
  --color-light: rgb(180, 180, 180);
  --color-very-light: rgba(242, 242, 242, 1);
  --color-secondary: var(--color-sand2);
  --color-category: rgba(249, 249, 249, 1);
  /* --color-text: rgb(255, 255, 255); */
  --color-text: rgb(0, 0, 0);
  /* --color-background: rgb(88, 89, 88); */
  --color-background: var(--color-bg);
  --color-line: rgba(255, 255, 255, 1);
  --opacity-bg: rgba(255, 255, 255, 0.6);
}
