:root {
  --page-padding: 16px;
  --side-padding: 16px;
  --menu-padding: 3px;

  --container-max-width: 100%;
  --sm-container-max-width: 100%;
  --md-container-max-width: 1200px;
  --lg-container-max-width: 1680px;
  /* --lg-container-max-width: 1420px; */

  --logo-spacing: calc(var(--page-padding) * 1.8);

  --mimic-h1-spacing: calc(var(--fib1) + var(--fib1) + var(--h1-lh));
  --artwork-top-spacing: calc(var(--fib1) + var(--h1-lh));

  @mixin large-mobile {
    --container-max-width: var(--sm-container-max-width);
  }
  @mixin tablet {
    --page-padding: 32px;
    --side-padding: calc(var(--page-padding));
    --container-max-width: var(--md-container-max-width);

    --mimic-h1-spacing: calc(var(--fib2) + var(--fib3) + var(--h1-lh));
    --artwork-top-spacing: calc(var(--fib1));
  }
  @mixin widescreen {
    --side-padding: calc(var(--page-padding) * 2);
    --container-max-width: var(--lg-container-max-width);
  }

  @mixin widescreen {
    --side-padding: calc(var(--page-padding) * 4);
  }

  --body-max-width: clamp(
    500px,
    calc(
      calc(var(--container-max-width) * 0.5) - calc(var(--side-padding) * 2)
    ),
    880px
  );

  /* grid variables */
  --grid-gap: clamp(16px, 3.3vw, 48px);
  --grid-margin-bottom: calc(var(--page-padding) * 1);

  /* form variables */
  --radius-small: 3px;
}

.padded-menu {
  padding: var(--menu-padding) 0 0 0;
  /* margin: 0 auto var(--page-padding) auto; */

  > div {
    padding: 0 var(--side-padding);
  }
}

.padded-page {
  max-width: var(--container-max-width);
  padding: 0 var(--side-padding);
  margin: 0 auto;
}

.body-section {
  max-width: var(--body-max-width);
}

.page-section {
  margin: var(--fib3) 0 var(--fib4) 0;
}

.page {
  margin-top: calc(var(--menu-padding) + var(--h2-lh) + 20px);

  @mixin tablet {
    margin-top: calc(
      var(--menu-padding) + var(--h2-lh) + calc(var(--page-padding) * 0.75)
    );
  }
}

.form-input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  border: 1px solid var(--color-light);
  border-radius: var(--radius-small);
  font-size: 16px;
  background: white;
  transition: border-color 0.2s ease;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: var(--color-light);
}

.form-input:focus::placeholder {
  color: var(--color-secondary);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.related-section {
  padding-top: calc(var(--page-padding) * 1);
}
