.topSection {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
}

.infoContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #333;
  z-index: 10;
  padding: 10vh 40px 0 30px;
  @mixin tablet {
    padding: 10vh 22vw 10vh 18vw;
  }
}

.infoContainer h1 {
  font-size: var(--h1-size);
  font-weight: var(--bold-weight);
  color: var(--color-blue);
}

.infoContainer h2 {
  font-size: var(--h2-size);
  font-weight: var(--body-weight);
}

.infoContainer p {
  /* font-size: var(--p-size); */
  max-width: 670px;
}

.infoContainer em {
  font-weight: var(--bold-weight);
  color: var(--color-blue);
}

.infoContainer a {
  text-decoration: none;
  cursor: pointer;
  font-weight: var(--bold-weight);
  color: var(--color-blue);
}

.infoContainer a:hover {
  text-decoration: underline;
}

.faqSection {
  margin-top: 2rem;
}

.faqList {
  margin-top: 1rem;
}

.faqItem {
  margin-bottom: 1rem;
}
