.title {
  margin-bottom: var(--logo-spacing);
}

.page {
  display: block;
  /* align-items: center;
  justify-items: center; */
  min-height: 100svh;
  /* padding: var(--page-padding); */
}
.homepageTop {
  /* @mixin tablet {
    display: flex;
    gap: var(--page-padding);
    section {
      width: 100%;
    }
  } */
}
.heroImage {
  width: 100%;
  margin-bottom: var(--section-padding);

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.links {
  & a {
    display: block;
    padding: 0.5em 0;
  }
}

.footer {
  font-size: 0.75em;
}
