.artworkPage {
  margin-top: var(--artwork-top-spacing);
}

.artInfoContainer {
  display: block;
  padding-bottom: var(--page-padding);
  @mixin tablet {
    display: flex;
    justify-content: space-between;
    gap: var(--page-padding);
  }

  > section {
    flex-basis: 3;
  }
}

.details {
  min-width: clamp(250px, 40%, 600px);
  margin-bottom: calc(var(--page-padding) * 4);
  > div {
    max-width: clamp(450px, 50%, 800px);
  }

  .date,
  .material,
  .dimensions,
  .address {
    margin-bottom: 1em;
  }
  .material {
    font-style: italic;
  }
  .date {
    font-weight: bold;
  }
}

.relatedSection {
  margin-top: calc(var(--page-padding) * 4);
}
