.biographySection {
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
  }
}

.biographyListTitle {
  text-transform: uppercase;
  margin-top: var(--h1-lh);
}

.biographyItem {
  display: flex;
  justify-content: flex-start;
  gap: var(--fib2);
}

.startFinishDate {
  width: 100%;
  margin-bottom: var(--fib1);
}

.date {
  min-width: 4ch;
}
