.artworkPage {
  margin-top: var(--artwork-top-spacing);
}

.artInfoContainer {
  display: block;
  padding-bottom: var(--page-padding);
  @mixin tablet {
    display: flex;
    justify-content: flex-start;
    gap: var(--page-padding);
  }

  > section {
    /* flex-basis: 3; */
  }
}

.details {
  min-width: clamp(250px, 40%, 600px);
  padding-top: var(--fib1);
  margin-bottom: calc(var(--page-padding) * 4);
  > div {
    max-width: clamp(450px, 50%, 800px);
  }

  .date,
  .material,
  .dimensions {
    margin-bottom: 1em;
  }
  .material {
    font-style: italic;
  }
  .date {
    font-weight: bold;
  }
}

.empty {
  flex-basis: 1;
}
