.contactPage {
  display: block;
  > section {
    /* max-width: clamp(300px, 90%, 600px); */
    margin-bottom: calc(var(--page-padding) * 3);
  }
  @mixin tablet {
    display: flex;
    justify-content: space-between;
    gap: var(--page-padding);
    section {
      width: 100%;
      margin-bottom: 0;
    }
  }
  gap: var(--grid-gap);
  /* justify-content: center; */

  h2 {
    line-height: var(--h2-lh);
    /* margin-top: var(--h1-lh) !important; */
    @mixin desktop {
      line-height: var(--h1-lh);
      /* margin-top: auto !important; */
    }
  }
}

.newsletter {
  margin-top: var(--page-padding);
}

.contactSection {
  margin-bottom: calc(var(--page-padding) * 2);
}
